# Version control
.git/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.egg

# Coverage
.coverage
.coverage.*
htmlcov/

# Environment files
.env
.env.*

# Docker compose (no se necesita dentro de la imagen)
docker-compose.yml
docker-compose.*.yml